.create {
    margin: 8rem auto;
}

.create .row {
    gap: 5rem;
    align-items: center;
    justify-content: space-evenly;
}

.create .row .col {
    text-align: center;
}

.create .row .col > * {
    margin-bottom: 2.5rem;
}

.create span {
    font-weight: bold;
}

.create p {
    color: #999999;
    font-size: 1.5rem;
}

.text-yellow {
    color: var(--colorYellow);
}

.text-green {
    color: var(--colorOliveGreen);
}