.create-makeorder {
    padding: 8rem 0;
    display: flex;
    justify-content: center;
}

.create-makeorder .row {
    gap: 4rem;
}

.img-order{
    padding-top: 100px;
}
.text-yellow {
    color: var(--colorYellow);
}

.text-green {
    color: var(--colorOliveGreen);
}
