* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorOliveGreen: #698A2E;
    --colorYellow: #FFDA1A;
    --colorWhite: #F7F6F2;
    --colorGrey: #D7D4CC
}

body {
    background-color: var(--colorWhite) !important;
}